* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(background3.png);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.center {
    margin-top: 10px;
    color: black;
    text-align: center;
}
.container{
    margin-bottom: 10px;
}
canvas{
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.6) ;
    margin-top: 0px;
    transition: margin-top 0.5s ease ;
}
canvas:hover{
    margin-top: -7px;
    transition: margin-top 0.5s ease;
}
h2{
    margin-bottom: 0.6vw;
    margin-left:45%;
    color: hsla(0, 0%, 17%, 0.674);
}
.aboutBox{
    display: flex;
    flex-direction: column;
}
p{
    margin-bottom: 10px;
}
ul{
    margin-left: 60px;
}
li{
    margin-bottom: 5px;
}
